Balance_Bot_flows.json
[
    {
        "id": "1c5d40bc.b4352f",
        "type": "tab",
        "label": "Serial Test",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3f703dd1.c7c562",
        "type": "serial-port",
        "z": "",
        "serialport": "/dev/ttyUSB0",
        "serialbaud": "57600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "\\n",
        "responsetimeout": ""
    },
    {
        "id": "a43cad64.13c59",
        "type": "ui_tab",
        "z": "",
        "name": "PID",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "66fbe9d0.cc9538",
        "type": "ui_group",
        "z": "",
        "name": "Balance Bot",
        "tab": "a43cad64.13c59",
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "db8c6ad2.074978",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "b8f52498.9ee988",
        "type": "serial out",
        "z": "1c5d40bc.b4352f",
        "name": "COM8",
        "serial": "3f703dd1.c7c562",
        "x": 1450,
        "y": 200,
        "wires": []
    },
    {
        "id": "892f43a2.c5a45",
        "type": "function",
        "z": "1c5d40bc.b4352f",
        "name": "top+payld",
        "func": "msg.payload = msg.topic + msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1200,
        "y": 200,
        "wires": [
            [
                "b8f52498.9ee988"
            ]
        ]
    },
    {
        "id": "2692d338.ae9dec",
        "type": "change",
        "z": "1c5d40bc.b4352f",
        "name": "set pWaiting",
        "rules": [
            {
                "t": "set",
                "p": "pWaiting",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 160,
        "wires": [
            [
                "892f43a2.c5a45"
            ]
        ]
    },
    {
        "id": "c645d348.0a69a",
        "type": "change",
        "z": "1c5d40bc.b4352f",
        "name": "set iWaiting",
        "rules": [
            {
                "t": "set",
                "p": "iWaiting",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 200,
        "wires": [
            [
                "892f43a2.c5a45"
            ]
        ]
    },
    {
        "id": "5499f1e8.fa9c3",
        "type": "change",
        "z": "1c5d40bc.b4352f",
        "name": "set dWaiting",
        "rules": [
            {
                "t": "set",
                "p": "dWaiting",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 240,
        "wires": [
            [
                "892f43a2.c5a45"
            ]
        ]
    },
    {
        "id": "a12cec68.3fe27",
        "type": "serial in",
        "z": "1c5d40bc.b4352f",
        "name": "",
        "serial": "3f703dd1.c7c562",
        "x": 130,
        "y": 940,
        "wires": [
            [
                "9b4adb41.040948",
                "9a8fff15.8b7bf",
                "e7c5fc98.0da9b",
                "984199d7.ef3328",
                "92f902b4.07f92",
                "8f17c5eb.a11838"
            ]
        ]
    },
    {
        "id": "9b4adb41.040948",
        "type": "switch",
        "z": "1c5d40bc.b4352f",
        "name": "",
        "property": "pWaiting",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "eq",
                "v": "Robot starting",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 390,
        "y": 880,
        "wires": [
            [
                "8b562987.574aa8"
            ],
            []
        ]
    },
    {
        "id": "8b562987.574aa8",
        "type": "change",
        "z": "1c5d40bc.b4352f",
        "name": "reset pWaiting",
        "rules": [
            {
                "t": "set",
                "p": "pWaiting",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 880,
        "wires": [
            [
                "76853906.ea37b8"
            ]
        ]
    },
    {
        "id": "9a8fff15.8b7bf",
        "type": "switch",
        "z": "1c5d40bc.b4352f",
        "name": "",
        "property": "iWaiting",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "eq",
                "v": "Robot starting",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 390,
        "y": 920,
        "wires": [
            [
                "36b0e24f.9bc73e"
            ],
            []
        ]
    },
    {
        "id": "36b0e24f.9bc73e",
        "type": "change",
        "z": "1c5d40bc.b4352f",
        "name": "reset iWaiting",
        "rules": [
            {
                "t": "set",
                "p": "iWaiting",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 920,
        "wires": [
            [
                "e868ea7f.9a40b8"
            ]
        ]
    },
    {
        "id": "e7c5fc98.0da9b",
        "type": "switch",
        "z": "1c5d40bc.b4352f",
        "name": "",
        "property": "dWaiting",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "eq",
                "v": "Robot starting",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 390,
        "y": 960,
        "wires": [
            [
                "9c3d549a.f40828"
            ],
            []
        ]
    },
    {
        "id": "9c3d549a.f40828",
        "type": "change",
        "z": "1c5d40bc.b4352f",
        "name": "reset dWaiting",
        "rules": [
            {
                "t": "set",
                "p": "dWaiting",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 960,
        "wires": [
            [
                "d36d869b.2cc7c8"
            ]
        ]
    },
    {
        "id": "92299fd4.0fea6",
        "type": "comment",
        "z": "1c5d40bc.b4352f",
        "name": "Input Values from Dashboard",
        "info": "",
        "x": 540,
        "y": 100,
        "wires": []
    },
    {
        "id": "59be8eaf.fac7",
        "type": "comment",
        "z": "1c5d40bc.b4352f",
        "name": "Set var to let return com know it's waiting for response",
        "info": "",
        "x": 880,
        "y": 100,
        "wires": []
    },
    {
        "id": "331bc5f1.e646da",
        "type": "comment",
        "z": "1c5d40bc.b4352f",
        "name": "Concat Type & Val",
        "info": "",
        "x": 1190,
        "y": 160,
        "wires": []
    },
    {
        "id": "ff74752b.a2a1d8",
        "type": "comment",
        "z": "1c5d40bc.b4352f",
        "name": "Sort by varWaiting",
        "info": "",
        "x": 370,
        "y": 840,
        "wires": []
    },
    {
        "id": "9be556af.791b98",
        "type": "comment",
        "z": "1c5d40bc.b4352f",
        "name": "Reset the waiting variable",
        "info": "",
        "x": 690,
        "y": 840,
        "wires": []
    },
    {
        "id": "8d2cad9.7ee395",
        "type": "comment",
        "z": "1c5d40bc.b4352f",
        "name": "Send value to dashboard",
        "info": "",
        "x": 970,
        "y": 840,
        "wires": []
    },
    {
        "id": "a7eb2c6a.1207d",
        "type": "inject",
        "z": "1c5d40bc.b4352f",
        "name": "",
        "topic": "P",
        "payload": "10",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "x": 290,
        "y": 160,
        "wires": [
            [
                "e0fd22cf.0ff3b"
            ]
        ]
    },
    {
        "id": "32f7b73c.6914b8",
        "type": "comment",
        "z": "1c5d40bc.b4352f",
        "name": "Initialize Values",
        "info": "",
        "x": 300,
        "y": 100,
        "wires": []
    },
    {
        "id": "ccf8acb3.fc021",
        "type": "inject",
        "z": "1c5d40bc.b4352f",
        "name": "",
        "topic": "I",
        "payload": "0.9",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "4",
        "x": 290,
        "y": 200,
        "wires": [
            [
                "aa04c588.031b78"
            ]
        ]
    },
    {
        "id": "5e13e540.daf00c",
        "type": "inject",
        "z": "1c5d40bc.b4352f",
        "name": "",
        "topic": "D",
        "payload": "20",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "x": 290,
        "y": 240,
        "wires": [
            [
                "177cd069.97131"
            ]
        ]
    },
    {
        "id": "e8c91405.9a7b08",
        "type": "function",
        "z": "1c5d40bc.b4352f",
        "name": "Fwd",
        "func": "var controlByte = flow.get('controlByte');\nvar action = 4;\n\nif (msg.payload === true){\n    controlByte = controlByte + action;\n    flow.set('controlByte', controlByte);\n}\nif (msg.payload === false){\n    controlByte = controlByte - action;\n    flow.set('controlByte', controlByte);\n}\n\nmsg.payload = controlByte;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1170,
        "y": 420,
        "wires": [
            [
                "b8f52498.9ee988"
            ]
        ]
    },
    {
        "id": "5212bef5.784a9",
        "type": "function",
        "z": "1c5d40bc.b4352f",
        "name": "Rvrs",
        "func": "var controlByte = flow.get('controlByte');\nvar action = 8;\n\nif (msg.payload === true){\n    controlByte = controlByte + action;\n    flow.set('controlByte', controlByte);\n}\nif (msg.payload === false){\n    controlByte = controlByte - action;\n    flow.set('controlByte', controlByte);\n}\n\nmsg.payload = controlByte;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1170,
        "y": 500,
        "wires": [
            [
                "b8f52498.9ee988"
            ]
        ]
    },
    {
        "id": "a70b328f.d5892",
        "type": "function",
        "z": "1c5d40bc.b4352f",
        "name": "Left",
        "func": "var controlByte = flow.get('controlByte');\nvar action = 1;\n\nif (msg.payload === true){\n    controlByte = controlByte + action;\n    flow.set('controlByte', controlByte);\n}\nif (msg.payload === false){\n    controlByte = controlByte - action;\n    flow.set('controlByte', controlByte);\n}\n\nmsg.payload = controlByte;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1170,
        "y": 580,
        "wires": [
            [
                "b8f52498.9ee988"
            ]
        ]
    },
    {
        "id": "de58ca6d.f08b18",
        "type": "function",
        "z": "1c5d40bc.b4352f",
        "name": "Right",
        "func": "var controlByte = flow.get('controlByte');\nvar action = 2;\n\nif (msg.payload === true){\n    controlByte = controlByte + action;\n    flow.set('controlByte', controlByte);\n}\nif (msg.payload === false){\n    controlByte = controlByte - action;\n    flow.set('controlByte', controlByte);\n}\n\nmsg.payload = controlByte;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1170,
        "y": 660,
        "wires": [
            [
                "b8f52498.9ee988"
            ]
        ]
    },
    {
        "id": "2e4d3863.88b518",
        "type": "switch",
        "z": "1c5d40bc.b4352f",
        "name": "",
        "property": "controlByte",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 950,
        "y": 400,
        "wires": [
            [
                "e8c91405.9a7b08"
            ]
        ]
    },
    {
        "id": "d9b21e53.75769",
        "type": "switch",
        "z": "1c5d40bc.b4352f",
        "name": "",
        "property": "controlByte",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "4",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 950,
        "y": 440,
        "wires": [
            [
                "e8c91405.9a7b08"
            ]
        ]
    },
    {
        "id": "5141f54e.2c0f6c",
        "type": "switch",
        "z": "1c5d40bc.b4352f",
        "name": "",
        "property": "controlByte",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 950,
        "y": 480,
        "wires": [
            [
                "5212bef5.784a9"
            ]
        ]
    },
    {
        "id": "675af1df.eb626",
        "type": "switch",
        "z": "1c5d40bc.b4352f",
        "name": "",
        "property": "controlByte",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "8",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 950,
        "y": 520,
        "wires": [
            [
                "5212bef5.784a9"
            ]
        ]
    },
    {
        "id": "2ad7163a.6d3c5a",
        "type": "switch",
        "z": "1c5d40bc.b4352f",
        "name": "",
        "property": "controlByte",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 950,
        "y": 560,
        "wires": [
            [
                "a70b328f.d5892"
            ]
        ]
    },
    {
        "id": "6120be59.f9de2",
        "type": "switch",
        "z": "1c5d40bc.b4352f",
        "name": "",
        "property": "controlByte",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 950,
        "y": 600,
        "wires": [
            [
                "a70b328f.d5892"
            ]
        ]
    },
    {
        "id": "60518c57.ebb214",
        "type": "switch",
        "z": "1c5d40bc.b4352f",
        "name": "",
        "property": "controlByte",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 950,
        "y": 640,
        "wires": [
            [
                "de58ca6d.f08b18"
            ]
        ]
    },
    {
        "id": "13d39626.31757a",
        "type": "switch",
        "z": "1c5d40bc.b4352f",
        "name": "",
        "property": "controlByte",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 950,
        "y": 680,
        "wires": [
            [
                "de58ca6d.f08b18"
            ]
        ]
    },
    {
        "id": "984199d7.ef3328",
        "type": "debug",
        "z": "1c5d40bc.b4352f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 430,
        "y": 1100,
        "wires": []
    },
    {
        "id": "e0fd22cf.0ff3b",
        "type": "ui_slider",
        "z": "1c5d40bc.b4352f",
        "name": "",
        "label": "Proportional",
        "tooltip": "",
        "group": "66fbe9d0.cc9538",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "P",
        "min": "5",
        "max": "25",
        "step": ".01",
        "x": 530,
        "y": 160,
        "wires": [
            [
                "2692d338.ae9dec"
            ]
        ]
    },
    {
        "id": "aa04c588.031b78",
        "type": "ui_slider",
        "z": "1c5d40bc.b4352f",
        "name": "",
        "label": "Integral",
        "tooltip": "",
        "group": "66fbe9d0.cc9538",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "I",
        "min": "0",
        "max": "1",
        "step": ".01",
        "x": 520,
        "y": 200,
        "wires": [
            [
                "c645d348.0a69a"
            ]
        ]
    },
    {
        "id": "177cd069.97131",
        "type": "ui_slider",
        "z": "1c5d40bc.b4352f",
        "name": "",
        "label": "Derivitive",
        "tooltip": "",
        "group": "66fbe9d0.cc9538",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "D",
        "min": "5",
        "max": "30",
        "step": ".01",
        "x": 520,
        "y": 240,
        "wires": [
            [
                "5499f1e8.fa9c3"
            ]
        ]
    },
    {
        "id": "76853906.ea37b8",
        "type": "ui_text",
        "z": "1c5d40bc.b4352f",
        "group": "66fbe9d0.cc9538",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Proportional",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 970,
        "y": 880,
        "wires": []
    },
    {
        "id": "e868ea7f.9a40b8",
        "type": "ui_text",
        "z": "1c5d40bc.b4352f",
        "group": "66fbe9d0.cc9538",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Integral",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 960,
        "y": 920,
        "wires": []
    },
    {
        "id": "d36d869b.2cc7c8",
        "type": "ui_text",
        "z": "1c5d40bc.b4352f",
        "group": "66fbe9d0.cc9538",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Derivitive",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 960,
        "y": 960,
        "wires": []
    },
    {
        "id": "e249a721.fd33e8",
        "type": "rpi-keyboard",
        "z": "1c5d40bc.b4352f",
        "name": "",
        "x": 230,
        "y": 520,
        "wires": [
            [
                "84a62897.23a538",
                "5e63f70e.40ce68",
                "a0f1c230.41e9",
                "7258ff8d.8140d"
            ]
        ]
    },
    {
        "id": "84a62897.23a538",
        "type": "switch",
        "z": "1c5d40bc.b4352f",
        "name": "FWD",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "103",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 450,
        "y": 460,
        "wires": [
            [
                "f1e7433.dfb35c",
                "22c686e4.a77f4a"
            ]
        ]
    },
    {
        "id": "f1e7433.dfb35c",
        "type": "switch",
        "z": "1c5d40bc.b4352f",
        "name": "Down",
        "property": "action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "down",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 670,
        "y": 400,
        "wires": [
            [
                "fa0b4a65.a2a178"
            ]
        ]
    },
    {
        "id": "22c686e4.a77f4a",
        "type": "switch",
        "z": "1c5d40bc.b4352f",
        "name": "Up",
        "property": "action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "up",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 670,
        "y": 440,
        "wires": [
            [
                "6b9006.a156bffc"
            ]
        ]
    },
    {
        "id": "fa0b4a65.a2a178",
        "type": "change",
        "z": "1c5d40bc.b4352f",
        "name": "T",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 400,
        "wires": [
            [
                "2e4d3863.88b518"
            ]
        ]
    },
    {
        "id": "6b9006.a156bffc",
        "type": "change",
        "z": "1c5d40bc.b4352f",
        "name": "F",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 440,
        "wires": [
            [
                "d9b21e53.75769"
            ]
        ]
    },
    {
        "id": "39a02845.7d44f8",
        "type": "change",
        "z": "1c5d40bc.b4352f",
        "name": "T",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 480,
        "wires": [
            [
                "5141f54e.2c0f6c"
            ]
        ]
    },
    {
        "id": "89ca6b64.387448",
        "type": "change",
        "z": "1c5d40bc.b4352f",
        "name": "F",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 520,
        "wires": [
            [
                "675af1df.eb626"
            ]
        ]
    },
    {
        "id": "7a42b794.d71688",
        "type": "change",
        "z": "1c5d40bc.b4352f",
        "name": "T",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 560,
        "wires": [
            [
                "2ad7163a.6d3c5a"
            ]
        ]
    },
    {
        "id": "48cf8b77.458d24",
        "type": "change",
        "z": "1c5d40bc.b4352f",
        "name": "F",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 600,
        "wires": [
            [
                "6120be59.f9de2"
            ]
        ]
    },
    {
        "id": "eedfbbb8.b65c58",
        "type": "change",
        "z": "1c5d40bc.b4352f",
        "name": "T",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 640,
        "wires": [
            [
                "60518c57.ebb214"
            ]
        ]
    },
    {
        "id": "7c609bb5.658ff4",
        "type": "change",
        "z": "1c5d40bc.b4352f",
        "name": "F",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 680,
        "wires": [
            [
                "13d39626.31757a"
            ]
        ]
    },
    {
        "id": "9e7f9f10.b7949",
        "type": "switch",
        "z": "1c5d40bc.b4352f",
        "name": "Down",
        "property": "action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "down",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 670,
        "y": 480,
        "wires": [
            [
                "39a02845.7d44f8"
            ]
        ]
    },
    {
        "id": "eeb68b50.aeb028",
        "type": "switch",
        "z": "1c5d40bc.b4352f",
        "name": "Up",
        "property": "action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "up",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 670,
        "y": 520,
        "wires": [
            [
                "89ca6b64.387448"
            ]
        ]
    },
    {
        "id": "43787676.b20b98",
        "type": "switch",
        "z": "1c5d40bc.b4352f",
        "name": "Down",
        "property": "action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "down",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 670,
        "y": 560,
        "wires": [
            [
                "7a42b794.d71688"
            ]
        ]
    },
    {
        "id": "1bbdfac.edc4605",
        "type": "switch",
        "z": "1c5d40bc.b4352f",
        "name": "Up",
        "property": "action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "up",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 670,
        "y": 600,
        "wires": [
            [
                "48cf8b77.458d24"
            ]
        ]
    },
    {
        "id": "52a9e90.cd01c18",
        "type": "switch",
        "z": "1c5d40bc.b4352f",
        "name": "Down",
        "property": "action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "down",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 670,
        "y": 640,
        "wires": [
            [
                "eedfbbb8.b65c58"
            ]
        ]
    },
    {
        "id": "ebf91dde.e4c44",
        "type": "switch",
        "z": "1c5d40bc.b4352f",
        "name": "Up",
        "property": "action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "up",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 670,
        "y": 680,
        "wires": [
            [
                "7c609bb5.658ff4"
            ]
        ]
    },
    {
        "id": "5e63f70e.40ce68",
        "type": "switch",
        "z": "1c5d40bc.b4352f",
        "name": "BWD",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "108",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 450,
        "y": 500,
        "wires": [
            [
                "9e7f9f10.b7949",
                "eeb68b50.aeb028"
            ]
        ]
    },
    {
        "id": "a0f1c230.41e9",
        "type": "switch",
        "z": "1c5d40bc.b4352f",
        "name": "LEFT",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "105",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 450,
        "y": 540,
        "wires": [
            [
                "43787676.b20b98",
                "1bbdfac.edc4605"
            ]
        ]
    },
    {
        "id": "7258ff8d.8140d",
        "type": "switch",
        "z": "1c5d40bc.b4352f",
        "name": "RIGHT",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "106",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 450,
        "y": 580,
        "wires": [
            [
                "52a9e90.cd01c18",
                "ebf91dde.e4c44"
            ]
        ]
    },
    {
        "id": "e9983f92.cb271",
        "type": "inject",
        "z": "1c5d40bc.b4352f",
        "name": "",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "x": 290,
        "y": 360,
        "wires": [
            [
                "98bc065f.f40598"
            ]
        ]
    },
    {
        "id": "98bc065f.f40598",
        "type": "change",
        "z": "1c5d40bc.b4352f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "controlByte",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "3645208f.8bfec",
        "type": "ui_slider",
        "z": "1c5d40bc.b4352f",
        "name": "",
        "label": "Dynamic Setpoint",
        "tooltip": "",
        "group": "66fbe9d0.cc9538",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "S",
        "min": "-5",
        "max": "5",
        "step": ".1",
        "x": 550,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "eb40fc8b.87d95",
        "type": "change",
        "z": "1c5d40bc.b4352f",
        "name": "set sWaiting",
        "rules": [
            {
                "t": "set",
                "p": "sWaiting",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 280,
        "wires": [
            [
                "892f43a2.c5a45"
            ]
        ]
    },
    {
        "id": "92096e9e.87aed",
        "type": "inject",
        "z": "1c5d40bc.b4352f",
        "name": "",
        "topic": "S",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "6",
        "x": 290,
        "y": 280,
        "wires": [
            [
                "3645208f.8bfec"
            ]
        ]
    },
    {
        "id": "f99b7701.ac17a8",
        "type": "ui_slider",
        "z": "1c5d40bc.b4352f",
        "name": "",
        "label": "Tilt Angle",
        "tooltip": "",
        "group": "66fbe9d0.cc9538",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "T",
        "min": "0",
        "max": "5",
        "step": ".1",
        "x": 520,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "edef9d0d.0d732",
        "type": "change",
        "z": "1c5d40bc.b4352f",
        "name": "set sWaiting",
        "rules": [
            {
                "t": "set",
                "p": "tWaiting",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 320,
        "wires": [
            [
                "892f43a2.c5a45"
            ]
        ]
    },
    {
        "id": "30613848.fb4f48",
        "type": "inject",
        "z": "1c5d40bc.b4352f",
        "name": "",
        "topic": "T",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "7",
        "x": 290,
        "y": 320,
        "wires": [
            [
                "f99b7701.ac17a8"
            ]
        ]
    },
    {
        "id": "fb55264d.bc8658",
        "type": "ui_text",
        "z": "1c5d40bc.b4352f",
        "group": "66fbe9d0.cc9538",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Dynamic Setpoint",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1130,
        "y": 1000,
        "wires": []
    },
    {
        "id": "92f902b4.07f92",
        "type": "switch",
        "z": "1c5d40bc.b4352f",
        "name": "",
        "property": "sWaiting",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "eq",
                "v": "Robot starting",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 390,
        "y": 1000,
        "wires": [
            [
                "a5ac2311.8f755"
            ],
            []
        ]
    },
    {
        "id": "bfcfa7ad.079f98",
        "type": "change",
        "z": "1c5d40bc.b4352f",
        "name": "reset sWaiting",
        "rules": [
            {
                "t": "set",
                "p": "sWaiting",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 1000,
        "wires": [
            [
                "fb55264d.bc8658"
            ]
        ]
    },
    {
        "id": "a5ac2311.8f755",
        "type": "switch",
        "z": "1c5d40bc.b4352f",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "Robot starting",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 590,
        "y": 1000,
        "wires": [
            [],
            [
                "bfcfa7ad.079f98"
            ]
        ]
    },
    {
        "id": "df23c38a.a1709",
        "type": "ui_text",
        "z": "1c5d40bc.b4352f",
        "group": "66fbe9d0.cc9538",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Dynamic Tilt",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1110,
        "y": 1040,
        "wires": []
    },
    {
        "id": "8f17c5eb.a11838",
        "type": "switch",
        "z": "1c5d40bc.b4352f",
        "name": "",
        "property": "tWaiting",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "eq",
                "v": "Robot starting",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 390,
        "y": 1040,
        "wires": [
            [
                "3db6e518.909b2a"
            ],
            []
        ]
    },
    {
        "id": "394652d3.abb2be",
        "type": "change",
        "z": "1c5d40bc.b4352f",
        "name": "reset tWaiting",
        "rules": [
            {
                "t": "set",
                "p": "tWaiting",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 1040,
        "wires": [
            [
                "df23c38a.a1709"
            ]
        ]
    },
    {
        "id": "3db6e518.909b2a",
        "type": "switch",
        "z": "1c5d40bc.b4352f",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "Robot starting",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 590,
        "y": 1040,
        "wires": [
            [],
            [
                "394652d3.abb2be"
            ]
        ]
    }
]